{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "topLevelAwait": true,
      "importMeta": true
    },
    "loose": true
  },
  "minify": false,
  "sourceMaps": "inline"
}
